body{
	background: url(https://wallpaperplay.com/walls/full/1/4/3/87655.jpg)
}
.mainh1 {
	margin: 60px;
	color: darkgray;
	font-family: 'Pridi', serif;
	font-size: 80px;
}
.startscreen {
	background-color: #000000;
	margin-top: 20px;
	margin-left: 250px;
	margin-right: 250px;
	padding: 50px;
	color: darkgray;
	text-align: left;
	font-family: 'Pridi', serif;
}
.startbutton {
	background: #0D6647;
}
.jumbotron h3 {
	text-align: left;
}

#timer {
	text-align: center;
}
.display-4 {
	text-align: center;
}
.lead {
	text-align: center;
}
.button {
	text-align: center;
}
